html, body {
    --almostblack: #181818;
    --bodycolour: #fff;
    --dullpercent: 75%;
    --bodydull: hsl(0, 0%, var(--dullpercent));
    --header-margin: 70px;
    --logo-size: 60px;
    --body-margin: calc(var(--header-margin) * 2 + var(--logo-size));

    --normalfontsize: 14pt;
    --bigishfontsize: 1.67vw;
    --bigfontsize: 2.5vw;
    --giantfontsize: 104pt;
    
    font-family: 'Inter', sans-serif;
    font-size: var(--normalfontsize);
    margin: 0;
    padding: 0;
    /* background-color: black; */
    color: var(--bodycolour);    
    overflow-x: hidden;
}

html {
    background-color: var(--almostblack);
}

a, a:visited {
    color: var(--bodycolour);
}

p b {
    color: red;
    font-style: italic;
}

.header {
    position: fixed;
    display: flex;
    justify-content: left;
    align-items: center;

    top: 0;
    height: 80px;
    width: 100vw;
    padding-left: var(--header-margin);
    
    background-color: var(--almostblack);
    
    user-select: none;
    
    z-index: 1;

    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

.header a:not(:first-child) {
    margin-left: var(--header-margin);
}

.header .logo {
    background-image: url('img/logotiny.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    
    height: var(--logo-size);
    width: var(--logo-size);
}

.header .logolink { opacity: 1; }

.header a, .header a:visited {
    color: var(--bodycolour);
    opacity: var(--dullpercent);
    text-decoration: none;
    font-weight: 600;
    font-size: var(--normalfontsize);
    transition: opacity 0.2s;
}

.header a:hover, .header a#this {
    opacity: 1;
}

.header a#this {
    text-decoration: underline;
    text-underline-offset: 8px;
}

.content {
    margin-top: 30vh;
    padding-left: var(--body-margin);
    padding-right: var(--body-margin);
}

.content h1 {
    font-size: var(--giantfontsize);
    margin-bottom: 5vh;
    margin-left: -2vh;
    user-select: none;
    background-color: black;
    padding: 2.2vh;
    padding-right: 3vh;
    width: fit-content;
    overflow: hidden;
}

/* "glass" background shit */
.content::before {
    background-image: url('img/qlzoom340.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: rgba(50, 50, 50,.4);
    background-blend-mode: lighten;
    display:block;
    position: absolute;
    top:0;
    left:-75px;
    width: calc(100vw + 150px);
    height: 40vh;
    filter: blur(25px);
    z-index: -1;

    content: "";
}

.landing {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.landing .left, .landing .right{
    flex: 50%;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    text-align: center;
}

.landing div > *{
    margin: 25px 0;
}

.landing div p {
    padding: 0 5%;
    font-size: var(--bigishfontsize);
}

.landing div i {
    color: red;
    font-weight: bold;
}

.landing div a{
    display: block;
    border: 5px solid white;
    padding: 20px 40px;
    border-radius: 5px;
    
    background-color: #000;
    
    font-size: var(--bigfontsize);
    font-weight: 800;
    text-decoration: none;
    letter-spacing: calc(var(--bigfontsize) * 0.1);
    text-transform: uppercase;
    font-style: italic;
    /* transition: border 0.2s, color 0.2s, background-color 0.2s; */
}

.landing div a:hover{
    background-color: red;
    border-color: red;
    color: black;
}

.landing div h1 {
    font-size: var(--bigfontsize);
}

::selection {
    background-color: rgba(255, 255, 255, 0.4);
}

/* External link icon */
a[target="_blank"]::after {
    content: url('../img/ext.png');
    margin: 0 3px 0 5px;   
}

/* Mobile + narrow screen */
@media (max-width: 100vh) {


    html, body {
        --almostblack: #181818;
        --bodycolour: #fff;
        --dullpercent: 75%;
        --bodydull: hsl(0, 0%, var(--dullpercent));
        --header-margin: 20px;
        --logo-size: 60px;
        --body-margin: 5vh;

        --normalfontsize: 2vh;
        --bigishfontsize: 3vh;
        --bigfontsize: 3vh;
        --giantfontsize: 10vh;
        
        height: 100%;
    }


    .header {
        position:relative;
        padding: 0;
        margin: 0;
        background-color: var(--almostblack);
        width: auto;
        user-select: none;
    }
    .header .logo {
        margin-left: var(--header-margin);
    }

    .landing {
        flex-wrap: wrap;
        height:auto;
        width: 100%;
        height: calc(100% - 80px);
    }
    
    .landing p, .landing h1 {
        background-color: black;
        padding: var(--normalfontsize);
    }
    
    .landing div > *{
        margin: 2vh 0;
    }
    .landing .left {
        justify-content: flex-end;
    }
    .landing .right {
        justify-content: flex-start;
    }
    .landing .left, .landing .right {
        flex-wrap: wrap;
        flex:100%;
    }
    .landing .left::after {
        content: " ";
        display:block;
        width:50vw;
        height:0.5vh;
        background-color: white;
    }

    /* content pages */
    
    .content {
        margin-top: 0;
        padding-left: var(--body-margin);
        padding-right: var(--body-margin);
    }

    .content h1 {
        font-size: var(--giantfontsize);
        margin-bottom: 5vh;
        user-select: none;
    }
}    