html, body {
    --almostblack: #181818;
    --bodycolour: #fff;
    --dullpercent: 75%;
    --bodydull: hsl(0, 0%, var(--dullpercent));
    --header-margin: 70px;
    --logo-size: 60px;
    --body-margin: calc(var(--header-margin) * 2 + var(--logo-size));

    --bigfontsize: 5vh;
    --giantfontsize: 15vh;
    --normalfontsize: 1.8vh;
    
    font-family: 'Inter', sans-serif;
    font-size: var(--normalfontsize);
    margin: 0;
    padding: 0;
    background-color: black;
    color: var(--bodycolour);

    
}

a, a:visited {
    color: var(--bodycolour);
}

.header {
    position: fixed;
    display: flex;
    justify-content: left;
    align-items: center;

    top: 0;
    height: 80px;
    width: 100vw;
    padding-left: var(--header-margin);
    
    background-color: var(--almostblack);
}

.header a:not(:first-child) {
    margin-left: var(--header-margin);
}

.header .logo {
    background-image: url('img/logotiny.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    
    height: var(--logo-size);
    width: var(--logo-size);
}

.header a, .header a:visited {
    color: var(--bodycolour);
    opacity: var(--dullpercent);
    text-decoration: none;
    font-weight: 600;
    font-size: var(--normalfontsize);
    transition: opacity 0.2s;
}

.header a:hover {
    opacity: 1;
}

.content {
    margin-top: 30vh;
    padding-left: var(--body-margin);
}

.content h1 {
    font-size: var(--giantfontsize);
    margin-bottom: 5vh;
    user-select: none;
}

.landing {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.landing .left, .landing .right{
    flex: 50%;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    font-size: var(--bigfontsize);
    font-weight: 600;
}

::selection {
    background-color: rgba(255, 255, 255, 0.4);
}